doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/forbidden.css")
        title Ups
    body 
        .container-lg 
            .alert.alert-danger
                h2.text-center Ups...
                p.
                    Lo sentimos pero el usuario o contraseña
                    aportados son incorrectos, por favor intentelo de nuevo.
                .w-100.d-flex.justify-content-end
                    a.btn.btn-light(href=".") &larr; Volver a intentar